<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HeadFirstAjaxJsonChapter2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetAjaxNameServlet</display-name>
    <servlet-name>GetAjaxNameServlet</servlet-name>
    <servlet-class>cn.huangwei.ajax.servlet.GetAjaxNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAjaxNameServlet</servlet-name>
    <url-pattern>/GetAjaxNameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetAjaxInfoServlet</display-name>
    <servlet-name>GetAjaxInfoServlet</servlet-name>
    <servlet-class>cn.huangwei.ajax.servlet.GetAjaxInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAjaxInfoServlet</servlet-name>
    <url-pattern>/GetAjaxInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>